.image {
    width: 270px;
    height: 106px;
    overflow: hidden;
    img {
        max-width: 100% ;
        object-fit: cover;
        object-position: center center;
    }
}

.images {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}