.container {
  position: relative;
  z-index: 5;
  display: inline-block;
}
.container__body {
  position: relative;
  border: 3px dashed var(--orange);
  transition: 0.2s;
  z-index: 5;
  input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
  }

  &:hover {
    background-color: rgba(#bb8c5f, 0.2);
    border-color: var(--dark-orange);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.container__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: var(--orange);
  font-size: 20px;
  white-space: nowrap;
}

.container_withImage {
  .container__body {
    border: 3px solid var(--orange);
  }
  .container__text {
    position: static;
    transform: translate(0%, 0%);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
