.form__header {
    font-size: 20px;
    font-weight: 500;
}

.form__drop {
    display: flex;
    gap: 30px;
}

.form__marcers {
    display: flex;
    margin-top: 30px;
    gap: 10px;
}

.report__msg {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}