.images {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.image {
    width: 392px;
    height: 230px;
    margin-top: 10px;
}

.row {
    grid-template-columns: 1fr 100px 100px 100px 2fr 300px !important;
}