.row {
    position: relative;
    display: grid;
    
    padding: 5px;

    &:nth-child(2n) {
        background-color: var(--gray-row);
    }

    &:hover:not(.row__title){
        background-color: var(--gray);
        cursor: pointer;
        .row__delete {
            opacity: 1;
        }
    }

    div {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0px 5px;
    }
}

.row__title {
    background-color: var(--gray);
}

.row__delete {
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 5px;
    background-color: var(--gray);
    border-radius: 50%;
    background-image: url(../../assets/icons/trash.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    right: 20px;
    top: calc(50% - 10px);
    opacity: 0;
    transition: .3s;
}